<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SonicWave</title>
    </head>
    <body>
        <section th:fragment="listadoProductos" id="productos">
            <div class="row row-cols-4">
                <div class="card" th:each="p : ${productos}">
                    <figure>
                        <img th:src="${p.rutaImagen}"
                             class="card-img-top"
                             height="200" 
                             alt="alt"/>
                        <figcaption>
                            ¢[[${p.precio}]] ([[${p.stock}]])
                        </figcaption>
                    </figure>
                    <div class="card-header">
                        <h4>[[${p.descripcion}]]</h4>
                    </div>
                    <div class="card-body">
                        <p>[[${p.nombre}]]</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
